
/* Estilos para o novo design */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #0074d9;
    color: white;
    text-align: center;
    padding: 20px 0;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

#livros {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 10px;
}

.livro {
    width: calc(33% - 20px);
    margin: 10px;
    padding: 10px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.livro img {
    max-width: 100%;
    height: auto;
}

.livro h3 {
    margin: 10px 0;
}

#adicionar-livro {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

#livro-form {
    display: flex;
    flex-direction: column;
}

#livro-form label {
    margin-bottom: 5px;
}

#livro-form input {
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

#livro-form button {
    background-color: #0074d9;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#livro-form button:hover {
    background-color: #0056b3;
}


/* Layout responsivo */
@media screen and (max-width: 768px) {
    .livro {
        width: calc(50% - 20px);
    }
}

@media screen and (max-width: 480px) {
    .livro {
        width: 100%;
    }
}